node_modules
.next
.env.local
*.log
.DS_Store
.vercel
next-env.d.ts

# profile pictures uploaded at runtime — ignore everything except .gitkeep
public/uploads/profile-pictures/*
!public/uploads/profile-pictures/.gitkeep
